<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>news</display-name>
	<context-param>
		<param-name>drv</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/news</param-value>
	</context-param>
	<context-param>
		<param-name>usr</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>pwd</param-name>
		<param-value>123456</param-value>
	</context-param>
	<servlet>
		<description>用户管理</description>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>初始化系统设置</description>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>初始化系统设置</description>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>初始化系统设置</description>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>系统统计</description>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>servlet.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/servlet/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/servlet/NewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/servlet/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/servlet/StatisticsServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>charencode</filter-name>
		<filter-class>filter.CharEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>charencode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>HeadFilter</filter-name>
		<filter-class>filter.HeadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HeadFilter</filter-name>
		<url-pattern>/news/manage/*</url-pattern>
		<url-pattern>/news/*</url-pattern>
		<url-pattern>/comment/*</url-pattern>
		<url-pattern>/user/manageUIMain/*</url-pattern>
		<url-pattern>/user/free/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>AuthorityFilter</filter-name>
		<filter-class>filter.AuthorityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<url-pattern>/news/manage/*</url-pattern>
		<url-pattern>/manager/*</url-pattern>
		<url-pattern>/user/manage/*</url-pattern>
		<servlet-name>UserServlet</servlet-name>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-name>CommentServlet</servlet-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>100</session-timeout>
	</session-config>
	<jsp-config>
		<taglib>
			<taglib-uri>/myTagLib</taglib-uri>
			<taglib-location>/WEB-INF/myTagLib.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>